@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


$font-family-sans-serif: 'Sofia Sans', sans-serif;
$enable-rounded: false;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

//custom css
.dropdown-icon{
   transform: scale(0);
   transition: 0.5s;
}

tr:hover .dropdown-icon{
   transform: scale(1);
}

.bg-transprent-50{
    background-color: rgb(0, 0, 0,0.5);
}